{% extends 'MHR/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1>Patient Form</h1>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Submit" class="btn btn-primary mt-4">
          </form>              
      </div>
      <div class="col-xs-6">
        <!-- additional content goes here -->
      </div>
    </div>
  </div>
{% endblock content %}